@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@400;700&display=swap');

:root{
    --main-color: white;
    --second-color: black;
    --bg-grey: grey;
    --bg-footer: #f5f5f7;
    --text-grid: red;
    --link-color: #2997ff;
    --main-text: 'Roboto', sans-serif;
    --text-bold: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 
 html {
    font-size: 12px;
 }
 
 
 
 
 
 
 body {
    background-color:var(--main-color);
    padding: 0;
    margin: 0;
    font-family: var(--main-text);
 
 
 }
 
 
 .navegacion {
    background-color: var(--second-color);
    color: var(--main-color);
    font-family: var(--main-text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
 
 
 }
 
 
 .navegacion li {
    margin: 0 10px;
    font-size: 12px;
    font-weight: 400;
 }
 
 
 
 
 .links-navegacion li a {
    font-family: var(--main-text);
    font-size: 11px;
    color: rgb(235, 233, 233);
 }
 
 
 .links-navegacion a {
    color: var(--main-color);
 }
 
 
 .shop {
    margin-left: 20px;
 }
 
 
 
 
 
 
 .shop i {
    margin: 0 20px;
    color: var(--main-color);
    font-size: 16px;
 }
 
 
 .encabezado h2 {
    font-family: var(--main-text);
    text-align: center;
    font-size: 56px;
    font-weight: var(--text-bold);
    margin: 0;
 }
 
 
 .white_text {
    color: var(--main-color);
    justify-content: center;
 
 
 }
 
 
 .black_text {
    color: var(--second-color);
 
 
 }
 
 
 .encabezado h3 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    font-family: var(--main-text);
    margin: 20px;
 
 
 }
 
 
 main {
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
 
 
 
 main a {
    align-items: center;
    justify-content: center;
    margin: 0 10px;
 
 
    display: inline-flex;
    size: 15px;
 
 
 
 
 }
 
 
 .contenedor1 {
    background-color: #f4ebeb39;
 }
 
 
 .imagen-portada {
    background-image: url(../IMG/rihanna__fvhjo9zi8haq_large.jpg);
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 600px;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
    margin: 0 auto;
 
 
 }
 
 
 .manzana {
    background-image: url(../IMG/manzana.png);
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
 
 
 }
 
 
 .white_text {
    text-decoration: none;
 }
 
 
 .titulo-rihanna {
    color: var(--main-color);
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 400px;
    font-size: 50px;
    font-family: var(--main-text);
    font-weight: 530;
    margin-bottom: 23px;
 }
 
 
 .texto-rihanna {
    color: var(--main-color);
    text-align: center;
    font-size: 15px;
    min-width: 200px;
    max-width: 400px;
    width: 100%;
    letter-spacing: 2px;
    margin: 0 auto;
    font-family: var(--main-text);
 }
 
 
 .imagen-principal {
    background-color: var(--second-color);
    background-image: url(../IMG/unnamed.jpg);
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 735px;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
 }
 
 
 .enlaces {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: var(--main-text);
    font-size: 21px;
 }
 
 
 .enlaces a {
    color: var(--link-color);
    text-decoration: none;
 }
 
 
 .enlaces a:hover {
    text-decoration: underline;
 }
 
 
 .imagen-secundaria {
    background-color: var(--main-color);
    background-image: url(../IMG/Img-Secundaria1.jpg);
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 735px;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
 }
 
 
 footer {
    background-color: var(--bg-footer);
    display: inline-block
 }
 
 
 .seccion-principal {
    text-align: justify;
 }
 
 
 .seccion-secundaria {
    display: flex;
 
 
 
 
 }
 
 
 .seccion-secundaria div {
    flex-grow: 1;
 }
 
 
 ul>li {
    list-style-type: none;
    margin: 10px;
    font-size: 11px;
 }
 
 
 .titulo-contenedor {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
 
 
 }
 
 
 footer {
    padding-top: 30px;
    width: 100%;
 
 
 }
 
 
 .seccion-contenedor {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding: 0 22px;
 }
 
 
 footer p {
    color: var(--bg-grey);
 }
 
 
 .footer-links {
    display: flex;
 
 
 
 
    text-decoration: none;
    font-size: 9px;
 }
 
 
 .footer-menu {
    display: flex;
    padding: 0;
    gap: 20px;
    flex-wrap: wrap;
 }
 
 
 .footer-menu li {
    margin: 0;
 }
 
 
 p {
    margin: 10px 0;
 }
 
 
 
 
 .seccion-principal {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 20px;
    margin-bottom: 20px;
 }
 
 
 .contacto {
    border-bottom: 1px solid rgb(184, 184, 184);
    ;
    padding-bottom: 10px;
    margin-bottom: 10px;
 
 
 }
 
 
 .footer-menu li::after {
    content: "|";
    margin-left: 20px;
 }
 
 
 a {
    text-decoration: underline;
    text-decoration: none;
 }
 
 
 a:hover {
    text-decoration: underline;
 }
 
 
 .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 40px;
    font-weight: var(--text-bold);
    font-family: var(--main-text);
    margin-bottom: 100px;
    margin-top: 100px;
 
 
 
 
 }
 
 
 .coleccion-productos {
    display: flex;
    align-items: stretch;
    align-self: stretch;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
 
 
 
 
 }
 
 
 .coleccion-productos::-webkit-scrollbar {
    display: none;
 }
 
 
 .coleccion-productos {
    -ms-overflow-style: none;
    scrollbar-width: none;
 }
 
 
 .menu-hamburguesa {
    display: none;
 }
 
 
 
 
 
 
 
 
 figcaption {
    margin-top: 18px;
 }
 
 
 .products img:hover {
    transform: scale(1.2);
    transition: all 0.55s ease;
    translate: 80px;
 }
 
 
 .imagen-watch {
    background-image: url(../IMG/hero_apple_watch_series_8__bjc1ok5mkjua_large.jpg);
    background-position: center center;
    height: 725px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
 }
 
 
 .titulo-watch {
    color: var(--main-color);
    text-align: center;
    font-size: 40px;
    min-width: 200px;
    max-width: 400px;
    width: 100%;
    letter-spacing: 2px;
    margin: 0 auto;
    font-family: var(--main-text);
    margin-top: 50px;
 }
 
 
 .red_text {
    color: var(--text-grid);
    font-family: var(--main-text);
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
 }
 
 
 .seccion-contenedor {
    color: var(--bg-grey);
 }
 
 
 .titulo-contenedor {
    color: var(--second-color);
    font-weight: 500;
 
 
 }
 
 
 .logo {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 25px;
 }
 
 
 
 
 
 
 .nombre-productos {
 
 
    font-family: var(--main-text);
    font-weight: var(--text-bold);
    font-size: 13px;
 }
 
 
 .grilla-productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--main-color);
    column-gap: 8px;
    row-gap: 8px;
    margin-top: 18px;
    margin-bottom: 15px;
 }
 
 
 .titulo-grilla1 {
    color: var(--second-color);
    font-family: var(--main-text);
    font-size: 40px;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
 }
 
 
 .producto-item {
 
 
    height: 500px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
 
 
 }
 
 
 .encabezado .text-grilla1 {
    font-family: var(--main-text);
    font-size: 18px;
 }
 
 
 .producto1 {
    background-image: url(https://www.apple.com/v/home/ay/images/promos/ipad/promo_ipad__fioegapg12qi_large.jpg);
 
 
 }
 
 
 .titulo-grilla2 {
    color: var(--main-color);
    font-family: var(--main-text);
    font-size: 40px;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
 }
 
 
 .encabezado .text-grilla2 {
    font-family: var(--main-text);
    font-size: 18px;
    color: var(--main-color);
 }
 
 
 .titulo-grilla3 {
    color: var(--main-color);
    font-size: 40px;
    font-family: var(--main-text);
    justify-content: center;
    text-align: center;
    padding-top: 15px;
 }
 
 
 .encabezado .text-grilla3 {
    font-family: var(--main-text);
    font-size: 18px;
    color: var(--main-color);
 }
 
 
 .titulo-grilla4 {
    color: var(--main-color);
    font-size: 40px;
    font-family: var(--main-text);
    justify-content: center;
    text-align: center;
    padding-top: 15px;
 }
 
 
 .encabezado .text-grilla4 {
    font-family: var(--main-text);
    font-size: 18px;
    color: var(--main-color);
 }
 
 
 .titulo-grilla5 {
    color: var(--second-color);
    font-size: 40px;
    font-family: var(--main-text);
    justify-content: center;
    text-align: center;
    padding-top: 15px;
 }
 
 
 .encabezado .text-grilla5 {
    font-family: var(--main-text);
    font-size: 18px;
    color: var(--second-color);
 }
 
 
 
 
 
 
 .titulo-grilla6 {
    color: var(--main-color);
    font-size: 40px;
    font-family: var(--main-text);
    justify-content: center;
    text-align: center;
    padding-top: 15px;
 }
 
 
 
 
 
 
 .encabezado .text-grilla6 {
    font-family: var(--main-text);
    font-size: 18px;
    color: var(--main-color);
 }
 
 
 .producto-item {
 
 
    height: 500px;
    background-size: cover;
    background-position: center center;
 
 
 
 
 }
 
 
 .producto1 {
    background-image: url(https://www.apple.com/v/home/ay/images/promos/ipad/promo_ipad__fioegapg12qi_large.jpg);
 
 
 }
 
 
 .producto2 {
    background-image: url(https://www.apple.com/v/home/ay/images/promos/macbook-pro-14-and-16/promo_mbp_preorder__faqgyfz56umq_large.jpg);
 }
 
 
 .producto3 {
    background-image: url(https://www.apple.com/v/home/ay/images/promos/homepod/promo_homepod__f7jnolq94m2y_large.jpg);
 }
 
 
 .producto4 {
    background-image: url(https://www.apple.com/v/home/ay/images/promos/airpods-pro/promo_airpods_pro_avail__gaxggskofx6y_large.jpg);
 }
 
 
 .producto5 {
    background-image: url(https://www.apple.com/es/home/images/promos/apple-fitness-plus-iphone/promo-apple-fitness-plus-iphone__bzeal882mv7m_large.jpg)
 }
 
 
 .producto6 {
    background-image: url(https://www.apple.com/v/home/ay/images/promos/watch-black-unity/promo_bhm__d8b9z5rlwjgy_large.jpg);
 }
 
 
 .navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.8em;
    display: none;
 
 
 }
 
 
 
 
 .menu-nav {
    list-style-type: none;
    display: flex;
 }
 
 
 #menu-item {
    display: none;
 }
 
 
 .mas {
    display: none;
 }
 
 
 @media screen and (max-width:768px) {
    .navegacion {
        justify-content: space-between;
    }
 
 
    .links-navegacion {
        display: none;
    }
 
 
    .seccion-secundaria {
        flex-wrap: wrap;
    }
 
 
    .menu-hamburguesa {
        display: block;
        justify-self: flex-end
    }
 
 
    .navbar-toggle {
        display: block;
    }
 
 
    #js-navbar-toggle {
        position: relative;
        top: 0;
        z-index: 11;
    }
 
 
    #check {
        display: none;
    }
 
 
    #check+.links-navegacion {
        height: 0;
        transition: height 2s ease;
    }
 
 
    #check:checked+.links-navegacion {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--second-color);
        z-index: 10;
        transition: height 2s ease;
    }
 
 
    #check:checked+.links-navegacion {
        padding: 40px;
    }
 
 
    #check:checked+.links-navegacion .menu-mobile li {
        margin: 10px;
    }
 
 
    #check:checked+.links-navegacion .menu-mobile li a {
        font-size: 30px;
        font-weight: var(--text-bold);
 
 
    }
 
 
    .shop {
        margin-left: auto;
        margin-right: 40px;
    }
 
 
    .seccion-secundaria div {
        width: 100%;
        margin: 0;
        padding: 0;
    }
 
 
    .seccion-secundaria .menu-block {
        border-bottom: 1px solid gray;
    }
 
 
    .seccion-secundaria div .item-menu-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
 
    
    .enlaces {
        font-size: 16px;
    }
 
 
    .grilla-productos {
        grid-template-columns: 1fr;
    }
 
 
    .mas {
        display: inline;
    }
    
    
    .item-menu-title {
        cursor: pointer;
    }
    
    
    .menu-block li:not(.titulo-contenedor) {
        display: none;
    }
    
    .menu-block input[type="checkbox"]:checked~li:not(.titulo-contenedor) {
        display: block;
    }
    
}

.menu-block input[type="checkbox"] {
    display: none;
}


    